 .guestcard{
    background: rgb(247, 245, 245) !important;
margin-right: auto;    
}
#card{
    width: fit-content;
    padding: 4px 8px;
    margin: 10px;
}
.usercard{
    
    margin-left: auto !important;
    background: rgb(166, 166, 255) !important;
     
}
 